body{
  background: url(img/carreta.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.subdomain{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.takeover{
  font-size: 100px;
  font-weight: bold;
  color: #FFFFFF;
}